{% extends "base.html" %}

{% block title %}Login | WINBIRD{% endblock %}

{% block auth_content %}

<div class="auth-card">

    <h2>Login</h2>
    <p>Access your workspace</p>

    {% if form.errors %}
        <div class="message error">
            Invalid username or password
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="primary-btn">Login</button>
    </form>

</div>

{% endblock %}
